#div1 {
	max-width: 800px;
	margin: auto;
	margin-top: 20px;
}

#header1 {
	background-color: #303050;
}

#div2 {
	width: 90%;
	margin: auto;
	padding: 10px;
}

#list-header {
	padding-top: 10px;
}
#partybutton {
	margin: 5px;
	margin-top: 7px;
}

#candidate-cell {
	text-align: right;
}

